m-select{
//	display: inline-block;
//	display: inline-flex;
	display: block;
	position: relative;
	line-height: 1.6em;
	
	z-index:1;
	position: relative;
}


m-select .display>.result,
m-select[selection] .display>.placeholder{
	height: 0px;
	overflow: hidden;
	width:100%;
}


m-select[selection] .display>.result,
m-select .display>.placeholder{
	height: initial;
	overflow: inherit;
}

m-select .list{
	width:100%;
	position: relative;
	overflow-y: hidden;
	height: 0px !important;	
}

m-select[opened] .list{
	position: absolute;
	height:initial;
	overflow-y: visible;
}

m-option,
m-select .list{
	background: hsla(0, 0%, 100%, 1);
}


m-select .display>.result>m-option{
	background: inherit;
}

m-select .display{
	z-index:100;
}

m-select .display{
	width: auto;
}

m-select .display>.fake-select-overlayout,
m-select .display>.fake-select{
	position: absolute;    
	top:0;
	z-index: -1;
	width: 100%;
	height: 100%;
}

m-select .display>.fake-select-overlayout{
	opacity: 0;
}


m-option[selected]{ 
	background: hsla(0, 0%, 79%, 1);
}

m-option{
	display: block;
	white-space: nowrap;
	padding-left:1em;
	padding-right:2em;
	text-indent: 0em;
}

m-option[disabled]:hover{
	background: inherit!important;
	cursor: default!important;
}

m-select .placeholder,
m-select .result{
	white-space: nowrap;
	min-wdith: 80%;
	text-indent: 1em;
	text-align:left;
	margin-right: 2em;
}
