#v404 {
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.l404 {
	color: #ddd;
width:20%;
margin-left:auto;
	margin-right:auto;
/* 	text-align: center; */
}

.l404 .mapgie {
	padding-left: 10em;
position: relative;
/* left: 60%; */
}
	

#c404 {
	position: absolute;
	top: 30%;
	width: 100%;
}
